{% extends "porticus/base.html" %}
{% load i18n %}

{% block head_more_js %}<script type="text/javascript">
    //<![CDATA[
        $(document).ready(function() {
            $('#carousel-porticus-{{ gallery.id }}').carousel({interval: 5000});
        });
    //]]>
</script>
{% endblock %}

{% block base_content %}
<div id="carousel-porticus-{{ gallery.id }}" class="carousel slide">
    <div class="carousel-inner">{% for ressource in object_list %}
        {% spaceless %}<div class="item {% if forloop.first %}active{% endif %}">
            {% if ressource.file_url %}
                {% ifequal ressource.file_type 0 %}
                    <a href="{{ ressource.file_url }}" onclick="window.open(this.href); return false;">
                {% else %}
                    <a href="{{ ressource.file_url  }}">
                {% endifequal %}
            {% endif %}
                
                {% if ressource.image  %}
                    <img src="{{ ressource.image.url }}" alt="{{ ressource.short_description  }}">
                {% else %}
                    <img src="{{ ressource.file.url }}" alt="{{ ressource.short_description  }}">
                {% endif %}
                
            {% if ressource.file_url %}</a>{% endif %}
            
            {% if ressource.short_description or ressource.description %}
            <div class="carousel-caption">
                <p>{{ ressource.short_description }}</p>
            </div>
            {% endif %}
        </div>{% endspaceless %}
    {% endfor %}</div>
    <a class="left carousel-control" href="#carousel-porticus-{{ gallery.id }}" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#carousel-porticus-{{ gallery.id }}" data-slide="next">&rsaquo;</a>
</div>
{% endblock%}