{% extends "porticus/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Galleries" %} - {{ block.super }}{% endblock %}

{% block porticus_content %}<div class="row">
    <h2>{% trans "Galleries" %}</h2>

    <ul>
        {% for object in object_list %}
        <li class="panel radius">
            <a href="{% url 'porticus-gallery-detail' detail_slug=object.slug %}">{{ object }}</a>
        </li>
        {% empty %}
        <li class="empty">{% trans "No gallery" %}</li>
        {% endfor %}
    </ul>
    
    {% if is_paginated %}<ul class="pagination right">
        {% if page_obj.has_previous %}<li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>{% endif %}
        {% for item in paginator.page_range %}
        <li{% if item == page_obj.number %} class="current"{% endif %}><a href="?page={{ item }}">{{ item }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}<li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>{% endif %}
    </ul>{% endif %}
</div>{% endblock %}
